<h1><%= @listing.strain%> <%= @listing.seed[:common_name]%></h1>
<label>Submitted by:</label><%= link_to @listing.lister[:email], @listing.lister %> <br>
<label>Quantity:</label><%= @listing.seed_quantity %> <br>
<label>Description:</label><%= @listing.description %>
