<h1>My Needs</h1>
<p>Needs are the seeds you want in return on your listings.</p>
<table class="center table table-striped table-condensed">

  <thead>
    <tr>
      <th>Common Name</th>
      <th>Scientific Name</th>
      <th>Remove?</th>
    </tr>
  </thead>

  <tbody>
    <% @needed_seeds.each do |needed_seed| %>
      <tr>
        <td><%= needed_seed.common_name %></td>
        <td><%= needed_seed.scientific_name %></td>
        <td>
          <%= render partial: 'seeds/unneed', locals: { seed: needed_seed } %>
          <%#<%= form_for(current_user.needs.find_by_seed_id(needed_seed),%>
                       <%#html: { method: :delete }) do |f| %>
            <%#<%= f.submit "Remove", class: "btn btn-danger" %>
          <%#<% end %>
        </td>

      </tr>
    <% end %>
  </tbody>

</table>
