<div class="result-count">
  <p><%= "#{pluralize(user.listings.count, "listing")} found." %></p>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Your Listing</th>
      <th>Common Name</th>
      <th>Seed Quantity</th>
      <th>Proposals</th>
      <th>State</th>
      <% if @user == current_user %>
        <th>Remove Listing</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% user.listings.each do |l| %>
    <tr>
      <td><%= link_to l[:strain], listing_path(l) %></td>
      <td><%= l.seed.common_name %></td>
      <td><%= l.seed_quantity %></td>
      <td><%= l.proposals.count %></td>
      <td>
        <% if l.open? %>
          <span class="label label-success">Open</span>
        <% else %>
          <span class="label label-important">Closed</span>
        <% end %>
      </td>

      <% if @user == current_user %>
        <td>
          <%= form_for(l, html: { method: :delete }) do |f| %>
            <%= f.submit "Remove", class: "btn btn-danger" %>
            <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
