<div class="result-count">
  <p><%= "#{pluralize(proposals.count, "proposal")} found." %></p>
</div>

<table class="table table-striped table-bordered">
  <thead>

    <tr>
      <th colspan="4">Your Proposal</th>
      <th colspan="4">Listing Proposed On</th>
      <th colspan="1">Remove Proposal</th>
    </tr>

    <tr>
      <%#Proposal%>
      <th>Strain</th>
      <th>Common Name</th>
      <th>Seed Quantity</th>
      <th>State</th>

      <%#Listing%>
      <th>Strain</th>
      <th>Common Name</th>
      <th>Seed Quantity</th>
      <th>Proposals</th>

      <%#Remove Proposal%>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% proposals.each do |proposal| %>
    <tr>
      <%#Proposal%>
      <td><%= proposal.strain %></td>
      <td><%= proposal.seed.common_name %></td>
      <td><%= proposal.seed_quantity %></td>
      <td>
        <% if proposal.listing.accepted_proposal_id == proposal.id %>
          <span class="label label-success">Accepted</span>
        <% elsif proposal.listing.open? %>
          <span class="label label-warning">Pending</span>
        <% else %>
          <span class="label label-important">Not Accepted</span>
        <% end %>
      </td>

      <%#Listing%>
      <td><%= link_to proposal.listing.strain, proposal.listing %></td>
      <td><%= proposal.listing.seed.common_name %></td>
      <td><%= proposal.listing.seed_quantity %></td>
      <td><%= proposal.listing.proposals.count %>

      <%#Remove Proposal%>
      <td>
        <% if proposal.listing.accepted_proposal_id == proposal.id %>
          <%= link_to 'Accepted', "#", class: 'btn disabled' %>
        <% else %>
          <%= button_to 'Remove', listing_proposal_path(proposal.listing, proposal), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
