<% columns = [:common_name, :scientific_name, :hardiness_zone, :listings, :add_to_needs] if local_assigns[:columns].nil? %>

<div class="result-count">
  <p><%= "#{pluralize(seeds.count, "seed")} found." %></p>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <% columns.each do |column| %>
        <th><%= column.to_s.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% seeds.each do |seed| %>
    <tr>
      <% columns.each do |column| %>
        <% if column == :listings %>
          <td><%= link_to "#{seed.listings.count} listing".pluralize(seed.listings.count), seed %></td>
        <% elsif column == :add_to_needs %>
          <td>
            <center>
              <% if not current_user.needing?(seed) %>
                <%= form_for(current_user.needs.build(seed_id: seed.id)) do |f| %>
                  <div><%= f.hidden_field :seed_id %></div>
                  <%= f.submit "Add this to my needs", class: "btn btn-success" %>
                <% end %>
              <% else %>
                <a href="#" class="btn disabled">Already needed</a>
              <% end %>
           </center>
          </td>
        <% else %>
          <td><%= seed.send(column.to_sym) %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
