<h1>Suggest a New Seed</h1>

<p>In order to maintain the integrity of our seed database, we allow users to only suggest seeds for inclusion on Seed App. Seed suggestions will then be reviewed by administrators and added if appropriate.</p>

<%#<%= form_for(seed, :url => { :action => "create" } do |f| %>
<%= form_for(@seed) do |f| %>

  <% if @seed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seed.errors.count, "error") %> prohibited this seed from being suggested:</h2>

      <ul>
      <% @seed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :common_name, "Common Name" %>
  <%= f.text_field :common_name %><br />
  <%= f.label :scientific_name, "Scientific Name" %>
  <%= f.text_field :scientific_name %><br />
  <%= f.label :hardiness_zone, "Hardiness Zone" %>
  <%= f.number_field :hardiness_zone %><br />
  <%= f.label :additional_info, "Additional Info" %>
  <%= f.text_area :additional_info %><br />

  <%= f.submit "Suggest", class: "btn" %>
<% end %>

