<h2><%= @seed.common_name %></h2>
<b>Scientific Name:</b> <%= @seed.scientific_name %><br />
<b>Hardiness Zone:</b> <%= @seed.hardiness_zone %><br />
<b>Additional Info:</b> <%= @seed.additional_info %><br />

<%= link_to "Back to seeds index", seeds_path %>
