<h2><%= @seed.common_name %></h2>
<b>Scientific Name:</b> <%= @seed.scientific_name %><br />
<b>Hardiness Zone:</b> <%= @seed.hardiness_zone %><br />
<b>Additional Info:</b> <%= @seed.additional_info %><br />

<%= render 'listings' %>

<%= link_to "Add a new listing", "/listings/new" %> | <%= link_to "Back to browse seeds", seeds_path %>
