<%= form_for([@listing, @proposal], html: {class: 'form-horizontal'}) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <%= f.label :seed_id, class: 'form-label' %>
      <div class="controls">
          <% if @listing.lister.needs.empty? %>
            <%= f.select :seed_id, Seed.accepted.collect{|s| [s.common_name, s.id]}, {}, class: 'chosen-select' %>
          <% else %>
            <%= f.select :seed_id, @listing.lister.needs.collect{|n| [n.seed.common_name, n.seed.id]}, {}, class: 'chosen-select' %>
          <% end %>
      </div>
    </div>

  <div class="control-group">
    <%= f.label :strain, class: 'form-label' %>
    <div class="controls">
      <%= f.text_field :strain %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :seed_quantity, class: 'form-label' %>
    <div class="controls">
      <%= f.number_field :seed_quantity %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit class: 'btn btn-primary'%>
  </div>
<% end %>
