<h2><%= @seed.common_name %></h2>
<b>Scientific Name:</b> <%= @seed.scientific_name %>
<b>Hardiness Zone:</b> <%= @seed.hardiness_zone %>
<b>Additional Info:</b> <%= @seed.additional_info %>

<br />
<%= link_to "Back to pending seeds index", admin_seeds_path %>
