<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <%= link_to(root_path, class: 'brand logo') do %>
          <i class="icon-leaf"></i> Seed App
        <% end %>

        <div class="nav-collapse">
          <% if user_signed_in? %>
          
          <ul class="nav">
            <li><%= link_to "Browse Seeds", seeds_path  %></li>
            <li><%= link_to "My Listings", "/path3"  %></li>
            <li><%= link_to "My Needs", needs_path  %></li>
          <% if current_user.admin? %>
            <li><%= link_to "Site Administration", admin_root_path %></li>
          <% end %>
          </ul>
            
          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li><%= link_to "My Account", edit_user_registration_path%></li>
            <li><%= link_to "Logout", destroy_user_session_url, method: :delete%></li>
          </ul>

          <% else %>

          <ul class="nav pull-right">
            <li class="divider-vertical"></li>
            <li> <%= link_to "Login", new_user_session_path%> </li>
            <li> <%= link_to "Register", new_user_registration_path%> </li>
          </ul>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
