<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Rhok</a>
      <div class="container nav-collapse">
        <% if user_signed_in? %>
        
        <ul class="nav">
          <li><%= link_to "Link1", "/path1"  %></li>
          <li><%= link_to "Link2", "/path2"  %></li>
          <li><%= link_to "Link3", "/path3"  %></li>
        </ul>
          
        <ul class="nav pull-right">
          <li class="logout">
            <%= link_to "My Account", edit_user_registration_path%>
          </li>
          <li class="logout">
            <%= link_to "Logout", destroy_user_session_url, method: :delete%>
          </li>
        </ul>

        <% else %>
         <ul class="nav pull-right">

            <li class="logout">
              <%= link_to "Login", new_user_session_path%>
            </li>

            <li class="logout">
              <%= link_to "Register", new_user_registration_path%>
            </li>

          </ul>
        <% end %>

          
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
